<%- contentFor('body') %>
<div class="row mt-4">
  <div class="col-10 mx-auto">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <i class="fa fa-user-friends mr-2"></i>
          Cadastro de Usuários
        </h4>
      </div>
      <div class="card-body">
        <form method="POST" action="/admin/usuarios/salvar" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control validation" id="email" name="email" required>
            <div class="invalid-feedback" data-error="email"></div>
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control validation" id="password" name="password" required>
            <div class="invalid-feedback" data-error="password"></div>
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>