<%- contentFor('body') %>
<div class="row mt-4">
  <div class="col-10 mx-auto">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <i class="fa fa-user-friends mr-2"></i>
          Cadastro de Produtos
        </h4>
      </div>
      <div class="card-body">
        <form method="POST" action="/admin/produtos/salvar" enctype="multipart/form-data" class="needs-validation"
          novalidate>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="price">Imagem</label>
                <input type="file" accept="image/*" class="form-control validation" id="image" name="image" required>
                <div class="invalid-feedback" data-error="image"></div>
              </div>
            </div>
            <div class="col-8">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control validation" id="name" name="name" required>
                <div class="invalid-feedback" data-error="name"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="description">Descrição</label>
                <textarea class="form-control validation" id="description" name="description" rows="3" maxlength="150"
                  required></textarea>
                  <div class="invalid-feedback" data-error="description"></div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>