<%- contentFor('body') %>
<div class="row mt-4">
  <div class="col-10 mx-auto">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <i class="fa fa-user-friends mr-2"></i>
          Editar Produto
        </h4>
      </div>
      <div class="card-body">
        <form method="POST" action="/admin/produtos/update/<%=product.id%>" enctype="multipart/form-data" class="needs-validation"
          novalidate>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="price">Imagem</label>
                <input type="file" accept="image/*" class="form-control validation" id="image" name="image">
              </div>
            </div>
            <div class="col-8">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control validation" id="name" name="name" value="<%=product.name%>" required>
                <div class="invalid-feedback" data-error="name"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="password">Descrição</label>
                <textarea class="form-control validation" id="description" name="description" rows="3" maxlength="150" required>
                  <%=product.description%>
                </textarea>
                <div class="invalid-feedback" data-error="description"></div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>