<%- contentFor('body') %>
<div class="row mt-4">
  <div class="col-10 mx-auto">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <i class="fa fa-user-friends mr-2"></i>
          Editar Produto
        </h4>
      </div>
      <div class="card-body">
        <form method="POST" action="/admin/produtos/update/<%=product.id%>" enctype="multipart/form-data">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="price">Imagem</label>
                <input type="file" accept="image/*" class="form-control" id="image" name="image">
              </div>
            </div>
            <div class="col-8">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" name="name" value="<%=product.name%>">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="password">Descrição</label>
                <textarea class="form-control" id="description" name="description" rows="3">
                  <%=product.description%>
                </textarea>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>