<%- contentFor('body') %>
<div class="row justify-content-center align-items-center mt-5" style="height: 70vh">
  <div class="div-12">
    <div class="text-center">
      <div style="width: 200px; margin: auto">
        <img src="/images/logo-acme.png" alt="" class="img-fluid">
      </div>
      <h3 class="text-muted mt-3">Painel Administrativo</h3>
    </div>
  </div>
</div>