<div class="container">
    <div class="row footer-align">
        <div class="col-lg-4">
            <div class="social-network">
                <i class="fab fb fa-facebook-square"></i>
                <i class="fab instagram fa-instagram-square"></i>
                <i class="fab whatsapp fa-whatsapp-square"></i>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="footer-logo">
                <img class="img-fluid" src="/images/logo-acme.png" alt="ACME Calçados & Artigos Esportivos">
            </div>
        </div>
        <div class="col-lg-4 go-top">
            <span class="top-btn" id="top-btn">
                voltar ao topo
                <i class="fas fa-chevron-up"></i>
            </span>
        </div>
    </div>
    <div class="row copyright justify-content-center">
        <small class="text-center">
            Desenvolvido pelos alunos:  Lucas, Juana, João e Victor
            <br> 
            Sistemas de Informação - UNISANTA  (2020)
        </small>
    </div>
</div>
