<div class="container">
    <div class="row">
        <div class="col-lg-4">
            Redes Sociais
        </div>
        <div class="col-lg-4">
            Logo Acme
        </div>
        <div class="col-lg-4 go-top">
            <span class="top-btn" id="top-btn">
                voltar ao topo
                <i class="fas fa-chevron-up"></i>
            </span>
        </div>
    </div>
</div>
