.background-hex{
position: relative;
    &:before , &:after{
    background: url('#{$path_img}shape.png') no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100%;   
    }
    &:before{
        position: absolute;
        top: 0;
        left: 0;
    }
    &:after{
        position: absolute;
        top: 0;
        left: 0;
    }
}

.about{
margin-top: $margin_default;
margin-bottom: $margin_default;
    .title{
        @extend %title_subpages;
    }
}