.products{
    margin-top: $margin_default;
    margin-bottom: $margin_default;
    .title{
        @extend %title_subpages;
    }
    .search-field{
        display: flex;
        justify-content: flex-end;
        .search-form{
            .search-input{
                border: 0;
                border-bottom: 1px solid gray;
                &:focus{
                    outline: none;
                }
            }
            .search-button{
                @extend %btn;
                padding: 7px 20px;
                display: inline-flex;
            }
        }
    }
}

.products-grid{
    margin: $margin_default 0;

    .card-deck{
        .card{
            z-index: 1;
            border: 2px solid $blue;
            box-shadow: $shadow_default;
            min-height: 200px;
            min-width: 200px;
            transition: transform 0.4s ease-in-out;
            &:hover{
                transform: scale(1.03);
            }

            .card-img-top{
                max-height: 130px;
                max-width: 130px;
                margin: 0 auto;
            }

            .card-body{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                .card-title{
                    font-weight: $regular;
                }
            }
            .link{
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }
}
    