// Imports
@import '_variables';
@import 'includes/_header';
@import 'includes/_footer';

@import 'pages/elements/_carousel';
@import 'pages/elements/_highlights';
@import 'pages/elements/_about-us';


body{
    font-family: $font-default;
    overflow-x: hidden;
    width: 100vw;
    scroll-behavior: smooth;
}

.content{
    margin-top: $margin_default;
    margin-bottom: $margin_default;
}

  