<div class="container-fluid bg-about">

    <div class="container content">
        <div class="row about-us">
            <h3 class="title">
                sobre nós
            </h3>
        </div>

        <div class="row about-content">
            <div class="col-lg-5 offset-lg-1">
                <div class="box-slider" id="about-slider">
                    <div class="img">
                        <img src="/images/about-slider/slide1.jpg" alt="Slide 1">
                    </div>
                    <div class="img">
                        <img src="/images/about-slider/slide2.jpg" alt="Slide 2">
                    </div>
                    <div class="img">
                        <img src="/images/about-slider/slide3.jpg" alt="Slide 2">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam eius non sed repellat, dolorem hic tempore quo beatae nihil illo saepe atque cum ea sit recusandae expedita ratione laboriosam ullam?
                    </p>
                    <div class="row">
                        <a class="btn-default" href="#">Leia na Íntegra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
