.bg-about{
    background: url('#{$path_img}about.jpg') no-repeat;
    background-size: cover;
}

.about-us{
    justify-content: center;
    .title{
        padding-top: 2rem;
        @extend %title;
        color: $white;
    }
}

.about-content{
    padding-bottom: 2rem;

    .box-slider{

        .carousel-inner{
            border-radius: 5px;
        }

        .carousel-control-prev, .carousel-control-next{
            align-items: center;
            opacity: 1;
            top: 89%;
            background: $blue_gradient;
            height: 44px;
            &:hover{
                border: 1px solid white;
            }
        }

        .carousel-control-prev{
            left: 70%;
        }
    }


    .about-text{
        >p{
            font-size: 1.4rem;
            color: $white;
            font-weight: $light;
        }
        .btn-default{
            @extend %btn;
            margin-right: auto;
            margin-left: 1rem;
        }
    }
}
