.bg-about{
    background: url('#{$path_img}about.jpg') no-repeat;
    background-size: cover;
}

.about-us{
    justify-content: center;
    .title{
        padding-top: 2rem;
        @extend %title;
        color: $white;
    }
}

.about-content{
    padding-bottom: 2rem;

    .box-slider, .slick-slider{
        display: flex;

        .slick-arrow{
            position: relative!important;
            top: 360px!important;
        }

        .slick-prev, .slick-next{
            color: $white;
            font-size: 1rem;
            background: $blue_gradient;
            height: 40px;
            width: 280px;
            &:before{
                display: none;
            }
        }
        .slick-prev{
            position: relative;
            display: block;
            transform: translate(350px, -17px)!important;
            cursor: pointer;
            border: none;
            outline: none;
            z-index: 1;
        }

        .slick-next {
            position: relative;
            display: block;
            transform: translate(-65px, -17px)!important;
            cursor: pointer;
            border: none;
            outline: none;
        }
    }


    .about-text{
        >p{
            font-size: 1.4rem;
            color: $white;
            font-weight: $light;
        }
        .btn-default{
            @extend %btn;
            margin-right: auto;
            margin-left: 1rem;
        }
    }
}
