.main{
    @extend %padding-reset;
    .carousel{
        .carousel-inner{
            .carousel-item{
                max-height: 400px;

                .first, .second, .third{
                    .carousel-title{
                        font-weight: bold;
                        background: $blue;
                        color: $white;
                        text-shadow: -1px 1px 10px black;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}