.bg-hex{
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        transform: translateX(-120px);
        background: url('#{$path_img}shape.png') no-repeat;
        background-size: 200px;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }

    &:after{
        content: '';
        position: absolute;
        transform: translate(1230px, -200px);
        background: url('#{$path_img}shape.png') no-repeat;
        background-size: 200px;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
}

.highlights{
    justify-content: center;
    .title{
        @extend %title;
    }
    .card-deck{
        .card{
            z-index: 1;
            border: 2px solid $blue;
            box-shadow: $shadow_default;
            min-height: 200px;
            transition: transform 0.4s ease-in-out;
            &:hover{
                transform: scale(1.03);
            }

            .card-img-top{
                max-height: 130px;
                max-width: 130px;
                margin: 0 auto;
            }

            .card-body{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding: 0 1.25rem;
                text-align: center;
                .card-title{
                    font-weight: $regular;
                    font-size: 1rem;
                }
            }
            .link{
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }

    .see-more{
        margin: $margin_default 0;
        .btn-default{
            @extend %btn;
        }
    }
}