<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/banner/slide1.jpg" class="d-block w-100" alt="A melhor loja de calçados & artigos esportivos da Baixada Santista.">
        <div class="carousel-caption first d-none d-md-block">
          <h1 class="carousel-title">A melhor loja de calçados & artigos esportivos da Baixada Santista.</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/banner/slide2.jpg" class="d-block w-100" alt="Treine com o que há de melhor de artigos esportivos.">
        <div class="carousel-caption second d-none d-md-block">
            <h1 class="carousel-title">Treine com o que há de melhor de artigos esportivos.</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/banner/slide3.jpg" class="d-block w-100" alt="Acessórios para melhorar sua experiência com o esporte.">
        <div class="carousel-caption third d-none d-md-block">
            <h1 class="carousel-title">Acessórios para melhorar sua experiência com o esporte.</h5>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
</div>