<div class="container-fluid cta">
    <div class="container">
        <div class="row text">
            <p class="phrase">Experimente o melhor em calçados e artigos esportivos</p>
        </div>
    </div>
    <div class="row">
        <a class="btn-default" href="/fale-conosco">Fale conosco agora mesmo</a>
    </div>
</div>