<div class="container-fluid bg-hex">

    <div class="container highlights content">
        <div class="row highlights">
            <h2 class="title">
                Destaques
            </h2>
        </div>
        <div class="card-deck">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Camiseta</h5>
                </div>
                <a href="#" class="link"></a>
            </div>
            <div class="card">
                <img src="/images/products/tenis-nike.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tênis</h5>
                </div>
                <a class="link" data-toggle="lightbox" data-title="Tênis Nike" data-footer="" data-remote="/images/products/tenis-nike.jpg"></a>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Relógios</h5>
                </div>
                <a href="#" class="link"></a>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Acessórios</h5>
                </div>
                <a href="#" class="link"></a>
            </div>
        </div>
        <div class="row see-more">
            <a class="btn-default" href="/produtos">ver mais produtos</a>
        </div>
    </div>

</div>

