<div class="container-fluid bg-hex">

    <div class="container highlights content">
        <div class="row highlights">
            <h2 class="title">
                Destaques
            </h2>
        </div>
        <div class="card-deck">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Camiseta</h5>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tênis</h5>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Relógios</h5>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Acessórios</h5>
                </div>
            </div>
        </div>
        <div class="row see-more">
            <a class="btn-default" href="#">ver mais produtos</a>
        </div>
    </div>

</div>

