<%- contentFor('body') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="box-404">
                <i class="far fa-frown"></i>
                <p class="not-found">Página não encontrada.</p>
                <p class="message">Para continuar navegando utilize o menu de navegação.</p>
            </div>
        </div>
    </div>
</div>