<%- contentFor('body') %>
<div class="container contact">
    <div class="row">
      <div class="col-md-12 col-lg-12">
          <h1 class="title">Fale Conosco</h1>
      </div>
    </div>
</div>


<div class="container-fluid devs">

    <div class="wrapper-img"></div>

    <div class="container my-5">
        <!-- Front-End -->
        <div class="row front-dev">
            <div class="col-12">
                <h2 class="title">
                    Layout / Desenvolvimento Front-End
                </h2>
            </div>
        </div>
        <div class="row name">
            <div class="col-md-6 col-lg-3">
                <p>
                Victor Henrique
                </p>   
            </div>
            <div class="col-md-6 col-lg-3 social">
                <a href="https://github.com/victorkronicos/" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/victorhenrique96/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="row name">
            <div class="col-md-6 col-lg-3">
                <p>
                    Lucas Penha
                </p>
            </div>
            <div class="col-md-6 col-lg-3 social">
                <a href="https://github.com/lspenha" target="_blank"><i class="fab fa-github"></i></a>
                <a href="http://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

        <!-- Back-End -->
        <div class="row back-dev">
            <div class="col-12">
                <h2 class="title">
                    Painel Administrativo / Back-end
                </h2>
            </div>
        </div>
        <div class="row name">
            <div class="col-md-6 col-lg-3">
                <p>
                    João Cshunderlick
                </p>
            </div>
            <div class="col-md-6 col-lg-3 social">
                <a href="https://github.com/jcntck/" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/jo%C3%A3o-cshunderlick-neto-404771182/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="row name">
            <div class="col-md-6 col-lg-3">
                <p>
                    Juana Paiva
                </p>
            </div>
            <div class="col-md-6 col-lg-3 social">
                <a href="https://github.com/NyraTyto" target="_blank"><i class="fab fa-github"></i></a>
                <a href="http://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>

</div>


<div class="container-fluid teacher-project">

    <div class="wrapper-img"></div>

    <div class="container my-5">
        <!-- Teacher -->
        <div class="row teacher">
            <div class="offset-lg-6 col-lg-6">
                <h2 class="title">
                    Professor
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-6 col-lg-3">
                Cláudio Nunes
            </div>
            <div class="col-3">
                <!-- email -->
            </div>
        </div>
    </div>


</div>


    <!-- CTA -->
    <%- include('elements/cta.ejs') %>