<%- contentFor('body') %>
<div class="container stores-header">
    <div class="row">
      <div class="col-md-12 col-lg-6">
          <h1 class="title">Nossas Lojas</h1>
      </div>
    </div>
</div>

<div class="container stores">

    <div class="store-box">
        <!-- Loja 1 -->
        <div class="row my-5">
            <div class="col-lg-4 store-img">
                <img class="img-fluid" src="/images/stores/store1.jpg" alt="Loja Acme">
            </div>
            <div class="col-lg-8 align">
                <div class="row">
                    <span class="title-address">
                        Endereço
                    </span>
                    <div class="w-100"></div>
                    <p class="address">
                        Rua Acme, S/Nº <br>
                        CEP 11111-111 <br>
                        Acme - SP
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <p>
                            <i class="fas fa-phone-alt"></i> 
                            (13) 3333-3333
                        </p>
                    </div>
                    <div class="col-lg-5">

                        <p>
                            <i class="far fa-envelope"></i>
                            contato@acme.com.br
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Loja 2 -->
        <div class="row my-5">
            <div class="col-lg-4 store-img">
                <img class="img-fluid" src="/images/stores/store2.jpg" alt="Loja Acme">
            </div>
            <div class="col-lg-8 align">
                <div class="row">
                    <span class="title-address">
                        Endereço
                    </span>
                    <div class="w-100"></div>
                    <p class="address">
                        Rua Acme, S/Nº <br>
                        CEP 11111-111 <br>
                        Acme - SP
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <p>
                            <i class="fas fa-phone-alt"></i> 
                            (13) 3333-3333
                        </p>
                    </div>
                    <div class="col-lg-5">

                        <p>
                            <i class="far fa-envelope"></i>
                            contato@acme.com.br
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

    <!-- CTA -->
    <%- include('elements/cta.ejs') %>