.footer{

    .linear-effect{
        min-height: 20px;
        background: linear-gradient(180deg, #002B7C 0%, #FFFFFF 100%);
    }

    .footer-align{
        align-items: center;
    }

    .social-network{
        display: flex;
        justify-content: space-between;
        margin: 0 90px;
        font-size: 2.5rem;
        .fb{
            color: $facebook;
        }
        .instagram{
            color: $instagram;
        }
        .whatsapp{
            color: $whatsapp;
        }

        .fb, .instagram, .whatsapp{
            transition: all 0.4s ease-in-out;
            &:hover{
                cursor: pointer;
                transform: scale(1.15);
            }
        }
    }

    .footer-logo{
        margin: 0 auto;
        @media (min-width: $bp-1024){
            width: 50%;
        }
        @media (max-width: $bp-768){
            width: 100%;
        }
    }

    .go-top{
        display: flex;
        justify-content: flex-end;
        @media (max-height: $bp-991) {
            justify-content: center;
        }

        .top-btn{
            cursor: pointer;
            text-transform: uppercase;
            font-size: 80%;
            font-weight: $regular;
        }
    }
}