.footer{
    .go-top{
        display: flex;
        justify-content: flex-end;
        .top-btn{
            text-transform: uppercase;
            font-size: 80%;
            font-weight: $regular;
        }
    }
}