.header{
    @extend %padding-reset;
    .logo{
        @media (min-width: $bp-1024){
            width: 20%;
        }
        @media (max-width: $bp-768){
            width: 80%;
        }
    }

    //Navbar
    .navbar{
        background: $blue_gradient;
    }

    .navbar-nav{
        .nav-item{
            @media (max-width: $bp-991) {
                width: 100%;
                text-align: center;
                font-size: 1.2rem;
            }
            .nav-link{
                padding: .1rem 1rem;
                color: $white;
                font-weight: $regular;
                border-radius: 3px;
                text-transform: uppercase;
                transition: all 0.2s ease-in;
                &:hover{
                    background: $white;
                    color: $blue;
                }
            }
        }
    }

    @media (max-width: $bp-991) {
        .navbar-toggler{
            display: block;
            margin: 0 auto;
            border-color: transparent;
            >.nav-icon{
                color: $white;
                font-size: 2rem;
            }
        }   
    }
}